/* Global */
:root {
    --primary-color: #000;
    --secoundary-color: #444;
    --border-color: #ddd;
    --button-color: #37a1f7;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-style: italic;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid var(--border-color);
}

header nav {
    margin: auto 0;
}

.nav-links {
    display: flex;
    gap: 1rem;
}


.nav-links a {
    color: var(--secoundary-color);
    line-height: 1rem;
}

.nav-links a:hover {
    transition: 0.5s;
    color: var(--button-color);
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2.5rem;
    gap: 2rem;
}

/* Main */
.container main {
    flex: 6 1 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article .author {
    font-weight: bold;
}

article h2 {
    font-size: 2rem;
}

article * {
    color: var(--secoundary-color);
}

article a:hover {
    transition: 0.5s;
    color: var(--button-color);
}

/* Aside */
.container aside {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

aside section {
    border: 1px solid var(--border-color);
    padding: 1.5rem;
}

aside section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.search-container form {
    display: flex;
}

.search-container form input {
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
}

.search-container form input[type="text"] {
    flex: 3 1 0;
}

.search-container form input[type="submit"] {
    flex: 1 1 0;
    background-color: var(--button-color);
    color: #fff;
}

.categories-list li {
    margin: 1rem 0;
}

.categories-list li a {
    color: var(--secoundary-color);
}

.categories-list li a:hover {
    transition: 0.5s;
    color: var(--button-color);
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.tags-container a {
    background-color: var(--border-color);
    color: var(--secoundary-color);
    padding: 0.5rem;
    border-radius: 3px;
}

.tags-container a:hover {
    transition: 0.5s;
    color: var(--button-color);
}

/* Footer */
footer {
    border: 2px solid var(--border-color);
    text-align: center;
    padding: 2rem;
}

footer * {
    margin: 1rem 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin: 2rem 1rem;
        gap: 1rem;
    }

    .container main {
        flex: 7 1 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 0.5rem;
    }
}

@media (max-width: 426px) {
    .container {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 320px) {
    .container {
        margin: 0.5rem;
    }

    header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid var(--border-color);
}
}