* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.login-container,
.banner-container {
    flex: 1 1 0;
    width: 50%;
}

.banner-container {
    text-align: right;
}

.banner-container img {
    margin-right: 1rem;
    margin-top: 2rem;
    max-width: 24rem;
}

.login-container .form-box,
.login-container .register-container {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 22rem;
  margin-top: 2rem;
}

.form-box {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-box .logo-instagram {
    margin: 2rem auto 1rem;
    width: 11rem;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 2.5rem;
    width: 17rem;
    padding: 0.25rem 0.5rem;
    margin: 0.2rem auto;
    border-radius: 3px;
    font-size: 0.75rem;
    border: 1px solid #dbdbdb;
    background-color: #fafafa
}

.form input[type="submit"] {
    margin: 1rem auto 0;
    height: 2rem;
    background-color: #b2dffc;
    color: #fff;
    font-weight: bold;
}


.separator {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #777;
    margin: 1rem auto;
    width: 17rem;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #dbdbdb;
}

.separator span {
    text-transform: uppercase;
    color: #bbb;
    font-size: 0.8rem;
}

.facebook {
    display: flex;
    justify-content: center;
}

.facebook img {
    width: 1rem;
    margin-right: 0.5rem;
}

.facebook {
    color: #385185;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.forgot-pass {
    color: #373799;
    font-size: 0.75rem;
    margin: 1rem 0 2rem;
}

.register-container {
    padding: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.register-container a {
    color: #4a95f6;
    font-weight: bold;
}

.login-container .register-container {
    margin-top: 1rem;
}

.get-app-container {
    width: 22rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}

.logo-container {
    display: flex;
    padding: 1rem 2rem;
}

.logo-container img {
    flex: 1 1 0;
    width: 1rem;
    margin: 0.1rem;
}

footer {
    color: #8e8e8e;
    text-align: center;
    margin: 1rem 0 3rem;
    font-size: 0.75rem;
}

footer nav {
    margin: 1rem;
}

footer nav a {
    margin: 0.25rem;
    color: #8e8e8e;
}

@media (max-width: 767px) {

    .container .banner-container {
        display: none;
    }

    .container .login-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }
}