/* Universal */
html {
    font-family: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Header */
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #232a31;
    height: 80px;
    align-items: center;
}

.img-logo {
  width: 50px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.navbar-items li a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-items li a:hover {
    color: #a2a2a2;
    transition: 0.5s;
}

.default-button {
    background-color: #43a443;
    padding: 15px 20px;
    border-radius: 10px;
}

.default-button:hover {
    background-color: #317731;
    transition: 0.5s;
}

/* Main Banner */
.main-banner {
    padding: 160px 0;
    background-image: url("../img/mainbanner.png");
    background-size: cover;
    background-position: center;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

.main-banner h1, 
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

/* Services */
.services {
    padding: 80px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}

.services li {
    padding: 20px;
}

.services i,
.services h3,
.services p {
    margin-bottom: 15px;
}

.fas {
    font-size: 60px;
}

.fa-shield-alt {
    color: #52ab52;
}

.fa-rocket{
    color: red;
}

.fa-comments {
    color: orange;
}

.services p {
    font-size: large;
    line-height: 1.5;
}

/* Pricing Container */
.pricing-container h2 {
    font-size: 36px;
    text-align: center;
}

.pricing-container p {
    font-size: 20px;
    text-align: center;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    text-align: center;

}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan li {
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    margin: 0 auto;
    line-height: 120px;
    color: #fff;
    position: relative;
    bottom: -50px;
}

.plan .plan-name {
    background-color: #232a31;
    height: 100px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
}

.plan .recommended {
    background-color: #f45657;
}

/* Search Domain Container */
.searchdomain-container {
    margin: 80px 0 0 0;
    background-color: #34454e;
    padding: 5rem 0;
    text-align: center;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 15px;
}

.searchdomain-container input {
    display: block;
    border-style: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: #2cc762;
    padding: 15px 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    opacity: .8;
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}


/* Contact Container */
.contact-container {
    padding: 5rem 0;
    text-align: center;
}

.contact-container h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 24px;
    margin-bottom: 15px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea{
    display: block;
    width: 480px;
    height: 240px;
    margin: 0 auto 20px;
}

.contact-container input[type="submit"] {
    background-color: #2cc762;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
}

/* Footer */
footer {
    padding: 20px 0 100px 0;
    text-align: center;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 1024px) {
    .plans-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main-banner p {
        font-size: 24px;
    }

    .plan {
        margin: 0 5px;
    }
}

@media (max-width: 465px) {
    .plans-container,
    .services {
        flex-direction: column;
    }

    .plan {
        margin: 0 auto;
        min-width: 70%;
    }

    .contact-container textarea {
        width: 90%;
    }

    .navbar {
        margin: 0 5px;
    }

    .navbar ul {
        justify-content: space-around;
    }

    .navbar-container {
        padding: 5px;
    }

    .default-button {
    padding: 10px 10px;
    }

    .searchdomain-container input[type="text"] {
        width: 90%;
    }

    .contact-container,
    .searchdomain-container {
        padding: 5rem 1rem;
    }

}